<!--Make a report data type and render everything with that-->
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{main_site}}{{url_for('static', filename='css/components.css')}}">
    <link rel="stylesheet" href="{{main_site}}{{url_for('static', filename='css/icons.css')}}">
    <link rel="stylesheet" href="{{main_site}}{{url_for('static', filename='css/responsee.css')}}">
    <link rel="stylesheet" href="{{main_site}}{{url_for('static', filename='owl-carousel/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{main_site}}{{url_for('static', filename='owl-carousel/owl.theme.css')}}">
    <link rel="stylesheet" href="{{main_site}}{{url_for('static', filename='css/template-style.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{main_site}}{{url_for('static', filename='img/basic_block_logo.png')}}">
    <title>{{report.id}}.pdf</title>
</head>
<body class="size-1140">
    <!-- HEADER -->

        <header role="banner" class="position-absolute">
          <!-- Top Navigation -->
            <div style="width: 200px; padding-top: 20px; padding-left: 20px;">
                {% if not for_download %}
                    <img src="{{main_site}}{{url_for('static', filename='img/logo.png')}}" alt="">
                {% else %}
                    <img src="{{main_site}}{{url_for('static', filename='img/logo-dark.png')}}" alt="">
                {% endif %}
            </div>
        </header>


    <!-- MAIN -->
    <main role="main">
        <header class="section background-dark">

            <div class="line">
                <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">SEO Lab Report</h1>
                <p class="margin-bottom-0 text-size-16">{{report.url}}</p>
                <p class="margin-bottom-0 text-size-16">{{report.location}}</p>
                <p class="margin-bottom-0 text-size-16">{{report.date}}</p>
                <p class="margin-bottom-80 text-size-16">Report id: {{report.id}}</p>
                {% if not for_download %}

                        <button class="button background-primary text-white">
                            <a href="http://127.0.0.1:5000/download_seo_report/keyword_recommendation/{{report.url}}/{{report.location}}/{{report.id}}" target="_blank">Download</a>
                        </button>
                {% endif %}

            </div>
        </header>

        <div class="{% if not for_download %}section{% endif %} background-white">
            <div class="line">
                <h2 class="text-size-40 margin-bottom-30">Recommended Keywords Report</h2>
                <hr class="break-small background-primary margin-bottom-30">
                <ul>
                    <li>
                        <a class="original-hyperlink" href="#comparative-research">Comparative Research</a>
                        <ul>
                            <li>
                                <a class="original-hyperlink" href="#comparative-research-search-volume">Search Volume</a>
                            </li>
                            <li>
                                <a class="original-hyperlink" href="#comparative-research-cpc">Cost per Click (CPC)</a>
                            </li>
                            <li>
                                <a class="original-hyperlink" href="#comparative-research-firepower">Firepower</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
